.detail__wrapper {
  margin: 2rem;
  --padding-detail-wrapper: 1rem;
  padding: var(--padding-detail-wrapper);

  background-color: white;

  position: relative;

  display: flex;
  flex-flow: row wrap;

  width: 100%;
}

.detail__wrapper::after {
  display: block;
  content: "";

  position: absolute;
  left: 50%;
  top: 1rem;
  bottom: 1rem;

  height: calc(100% - 2 * 1rem);
  width: 0.25rem;

  background-color: #f7f7f7;

  transform: translateX(-50%);
}

.detail__left {
  width: 50%;
}

.detail__right {
  width: 50%;
}

.detail__right-wrapper {
  margin-left: 1rem;
}

.detail__left-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;

  margin-right: 1rem;
}

.detail__main-img {
  padding: 0.5rem;

  height: auto;
  width: 80%;
  min-height: 450px;

  border: 2px solid #eee;
  border-radius: 15px;

  background-color: white;

  overflow: hidden;
}

.detail__main-img > img {
  width: 100%;

  object-fit: contain;
  object-position: center;

  border-radius: 15px;
}

.detail__sub-imgs {
  list-style: none;
  padding: 0;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;

  width: 17%;
}

.detail__sub-img {
  width: 100%;

  border: 2px solid #eee;
  border-radius: 15px;

  margin-bottom: 1rem;
  padding: 0.5rem;

  cursor: pointer;
  overflow: hidden;

  transition: all 0.35s linear;
}

.detail__sub-img:last-child {
  margin-bottom: 0;
}

.detail__sub-img.active,
.detail__sub-img:hover {
  border-color: var(--primary-color);
}

.detail__sub-img > img {
  width: 100%;

  object-fit: contain;
  object-position: center;

  border-radius: 15px;
}

.detail__right-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.detail__right-info {
  padding-bottom: 1rem;
}

.detail__right-info > h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.detail__right-info > p {
  margin-bottom: 1rem;
  font-size: 1rem;
  text-align: justify;
}

.detail__right-color {
  display: flex;
  font-size: 1rem;
  color: black;
  align-items: center;
}

.detail__right-color-item {
  margin-left: 1rem;
  border-radius: 50%;
}

.detail__right-price {
  margin-bottom: 1rem;
}

.phone-card__price > strong {
  font-size: 1.5rem;
  font-weight: 500;
}

.detail__right-sold {
  display: block;
  margin-bottom: 1rem;
}

.detail__right-sold > strong {
  font-weight: 500;
}

.detail__right-sold > span {
  font-weight: bold;
}

.detail__right-action {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail__right-action > button {
  outline: none;
  border: none;

  font-size: 16px;
  font-weight: bold;

  text-transform: uppercase;
  text-align: center;

  padding: 1rem;

  width: 45%;

  background-color: wheat;

  border-radius: 5px;

  cursor: pointer;

  transition: all 0.35s ease-in;
}

.detail__right-action .detail__btn-cart:hover {
  background-color: rgba(0, 0, 0, 0.3);

  color: black;
}

.detail__right-action .detail__btn-buy:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.detail__right-action .detail__btn-buy {
  background-color: rgb(255, 255, 255);
  color: black;
  border: 2px solid black;
}

.detail__right-action .detail__btn-cart {
  background-color: black;
  color: white;
  border: 2px solid black;
}
