.header__top {
  background-color: black;
}

.header__top-list {
  list-style: none;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.header__top-list > li {
  padding: 0 15px;
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
}

.header__top-list > li:first-child {
  padding-left: 0;
}

.header__top-list > li:last-child {
  padding-right: 0;
}

.header__top-list > li > a {
  display: inline-block;
  text-decoration: none;
  height: 100%;
}

.header__top-logo {
  width: 150px;
  height: 100%;

  display: inline-block;
  align-items: center;

  color: var(--primary-color);
}

.header__top-action {
  display: flex;
  align-items: center;

  height: 100%;
}

.header__top-search {
  display: flex;
  align-items: center;
  min-width: 300px;

  height: 100%;

  padding: 8px 16px;

  border-radius: 6px;

  background-color: white;

  position: relative;
  z-index: 20;
}

.header__top-search-suggestion {
  display: none;

  position: absolute;
  top: calc(100% + 1rem);
  left: 0;

  width: 100%;
  max-height: 300px;
  overflow-y: auto;

  background-color: white;

  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px 1px 1px rgba(0, 0, 0, 0.5);

  border-radius: 5px;
}

.header__top-search-suggestion .header__top-search-suggestion-header {
  padding: 0.5rem;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
  cursor: default;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top-search-suggestion-header > i {
  width: 2rem;
  height: 2rem;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.header__top-search-suggestion-header > i > svg {
  width: 2rem;
  height: 2rem;
}

.header__top-search-suggestion > ul {
  list-style: none;
  padding: 0;
}

.header__top-search-suggestion.active {
  display: block;
}

.header__top-search-suggestion > ul > li {
  border-bottom: 1px solid #ccc;
  font-weight: bold;

  transition: all 0.35s ease-in-out;
}

.header__top-search-suggestion > ul > li:last-child {
  border-bottom: none;
}

.header__top-search-suggestion > ul > li:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
  font-weight: bold;
}

.header__top-search-suggestion > ul > li > span {
  font-size: 16px;
  max-lines: 1;

  display: inline-block;
  padding: 0.5rem 1rem;
}

.header__top-search > input {
  outline: none;
  border: none;
  margin-right: 8px;
  flex: 1;
}

.header__top-search > input::placeholder,
.header__top-search > input::-webkit-input-placeholder,
.header__top-search > input::-moz-placeholder {
  font-size: 14px;
  color: #999;
}

.header__top-search > svg {
  color: #333;
}

.header__top-cart {
  margin-left: 16px;
  color: white;
  background-color: rgb(0, 0, 0);

  border: 0.5px solid #999;
  padding: 8px;
  border-radius: 4px;
}

.header__top-cart:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.header__top-cart > svg {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.header__top-cart > span {
  font-size: 16px;
}

.header__top-history {
  height: 100%;
  margin-left: 16px;
  display: flex;
  align-items: center;
}

.header__top-history > a {
  text-decoration: none;
  font-size: 16px;
  color: white;
}

.header__top-history > a:hover {
  color: var(--primary-color);
}
